<CascadingAuthenticationState >
    <CascadingValue Value="this" IsFixed="true">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(OfficialLayout)">
                    <NotAuthorized>
                        <CMS.Auth.RedirctLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <p role="alert">Sorry, there's nothing at this address.</p>
            </NotFound>
        </Router>
    </CascadingValue>
</CascadingAuthenticationState>
