<style scoped>
    .my_title{
        word-break:break-word;
        color:gray;
        font-size:14px;
    }
    .my_top{
        font-weight:600;
        color:dodgerblue;
        font-size:26px
    }
    p{
        margin:0 !important;
    }
</style>

<div style="display:flex;justify-content:space-around;padding:5px;">
    <div style="font-weight:500">
        <p>THE UNIVERSITY OF</p>
        <p style="font-weight:700;font-size:32px">NEWCASTLE</p>
        <p>AUSTRALIA</p>
    </div>
    <div>
        <p class="my_top">Top 200</p>
        <p>university in the world</p>
        <p><a href="/" style="text-decoration:none;color:black">Find out more</a></p>
    </div>
    <div>
        <p class="my_top">Top 200</p>
        <p class="my_title">12 subjects ranked in the top 200 in the world</p>
    </div>
    <div>
        <p class="my_top">Top 8</p>
        <p class="my_title">in Australia for reasearch 'well above world standard'</p>
    </div>
    <div>
        <p class="my_top">95%</p>
        <p class="my_title">of our research is 'at' or 'above world standard'</p>
    </div>
    <div>
        <p class="my_top">No.1</p>
        <p class="my_title">university in Australia for industry collaboration</p>
    </div>
</div>

