<style scoped>
    .footer-text {
        color: white;
        font-size: 12px;
    }
</style>

<div style="height:8vh;display:flex;width:100%">
    <div style="display: flex; width: 80%; background-image:url(imgs/official/footer/footer2.png);opacity:0.8">

    </div>
    <div style="display:flex;flex-flow:column;width:20%;">
        <p>Contact Hours</p>
        <p>Tel:+65 6390 9000</p>
        <p>Email:contactus@psb-academy.edu.sg</p>
    </div>
</div>
<div style="height: 4vh; display: flex; width: 100%">
    <p>Newcastle Australia Institute of Higher Education Pte Ltd is a wholl owned entity of The University of Newcastle.</p>
</div>
<div style="height: 4vh; display: flex; width: 100%">
    <p>© 2023 Newcastle Australia Institute of Higher Education Pte Ltd. All Rights Reserved Sitemap</p>
</div>
